Repository kubernetes-sigs/scheduler-plugins, pull requests merged in 2022-03, with the labels that each got.

#341 Update the loadwatcher library to the latest release for trimaran plugins
  cmd/scheduler/main_test.go
  go.mod
  go.sum
  manifests/trimaran/scheduler-config.yaml
  pkg/apis/config/scheme/scheme_test.go
  pkg/apis/config/types.go
  pkg/apis/config/v1beta2/defaults.go
  pkg/apis/config/v1beta2/types.go
  pkg/apis/config/v1beta2/zz_generated.conversion.go
  pkg/apis/config/v1beta2/zz_generated.deepcopy.go
  pkg/apis/config/v1beta3/defaults.go
  pkg/apis/config/v1beta3/types.go
  pkg/apis/config/v1beta3/zz_generated.conversion.go
  pkg/apis/config/v1beta3/zz_generated.deepcopy.go
  pkg/trimaran/README.md
  pkg/trimaran/loadvariationriskbalancing/collector.go
  pkg/trimaran/targetloadpacking/targetloadpacking.go
Labels: ok-to-test, size/L, cncf-cla: yes, approved, lgtm

#347 implement strict alignment check for the noderesourcetopology filter plugin
  pkg/noderesourcetopology/filter.go
  pkg/noderesourcetopology/filter_test.go
Labels: ok-to-test, size/L, tide/merge-method-squash, cncf-cla: yes, approved, kind/cleanup, lgtm

#360 bugfix about update occupied in podGroup status
  pkg/controller/podgroup.go
  pkg/controller/podgroup_test.go
Labels: kind/bug, ok-to-test, size/L, cncf-cla: yes, approved, lgtm, release-note-none
