Repository kubernetes-sigs/scheduler-plugins, pull requests merged in 2022-07, with the labels that each got.

#377 noderesourcetopology: add integration tests for scope=container
  test/integration/noderesourcetopology_test.go
Labels: kind/bug, ok-to-test, cncf-cla: yes, approved, lgtm, size/XXL, release-note-none

#407 bump k8s deps to v1.23.9
  go.mod
  go.sum
  hack/install-envtest.sh
  vendor/k8s.io/api/batch/v1/types.go
  vendor/k8s.io/api/certificates/v1/types.go
  vendor/k8s.io/api/core/v1/types.go
  vendor/k8s.io/api/policy/v1beta1/generated.proto
  vendor/k8s.io/api/policy/v1beta1/types.go
  vendor/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/deepcopy.go
  vendor/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1/conversion.go
  vendor/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1/deepcopy.go
  vendor/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1/zz_generated.conversion.go
  vendor/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/deepcopy.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/clientset.go
  vendor/k8s.io/apiserver/pkg/audit/union.go
  vendor/k8s.io/apiserver/pkg/authentication/group/authenticated_group_adder.go
  vendor/k8s.io/apiserver/pkg/authentication/group/group_adder.go
  vendor/k8s.io/apiserver/pkg/authentication/group/token_group_adder.go
  vendor/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go
  vendor/k8s.io/apiserver/pkg/server/filters/priority-and-fairness.go
  vendor/k8s.io/apiserver/pkg/server/filters/timeout.go
  vendor/k8s.io/apiserver/pkg/storage/etcd3/store.go
  vendor/k8s.io/apiserver/pkg/util/flowcontrol/request/list_work_estimator.go
  vendor/k8s.io/client-go/kubernetes/clientset.go
  vendor/k8s.io/client-go/pkg/version/.gitattributes
  vendor/k8s.io/client-go/tools/cache/thread_safe_store.go
  vendor/k8s.io/code-generator/cmd/client-gen/generators/generator_for_clientset.go
  vendor/k8s.io/component-base/version/.gitattributes
  vendor/k8s.io/csi-translation-lib/plugins/azure_disk.go
  vendor/k8s.io/csi-translation-lib/plugins/azure_file.go
  vendor/k8s.io/kubernetes/pkg/api/v1/pod/util.go
  vendor/k8s.io/kubernetes/pkg/features/kube_features.go
  vendor/k8s.io/kubernetes/pkg/proxy/util/utils.go
  vendor/k8s.io/kubernetes/pkg/scheduler/framework/plugins/nodeaffinity/node_affinity.go
  vendor/k8s.io/kubernetes/pkg/scheduler/framework/plugins/nodename/node_name.go
  vendor/k8s.io/kubernetes/pkg/scheduler/framework/plugins/nodeports/node_ports.go
  vendor/k8s.io/kubernetes/pkg/scheduler/framework/plugins/noderesources/fit.go
  vendor/k8s.io/kubernetes/pkg/scheduler/framework/plugins/podtopologyspread/filtering.go
  vendor/k8s.io/kubernetes/pkg/scheduler/framework/plugins/tainttoleration/taint_toleration.go
  vendor/k8s.io/kubernetes/pkg/scheduler/framework/runtime/framework.go
  vendor/k8s.io/kubernetes/pkg/scheduler/internal/queue/scheduling_queue.go
  vendor/k8s.io/kubernetes/pkg/scheduler/testing/wrappers.go
  vendor/k8s.io/kubernetes/test/utils/image/manifest.go
  vendor/k8s.io/metrics/pkg/client/clientset/versioned/clientset.go
  vendor/modules.txt
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/client.go
Labels: size/XL, cncf-cla: yes, approved, lgtm, release-note-none

#408 coscheduling: remove lastDeniedPG cache and lastDeniedPGExpirationTime
  apis/config/scheme/scheme_test.go
  apis/config/types.go
  apis/config/v1beta2/zz_generated.conversion.go
  apis/config/v1beta3/defaults.go
  apis/config/v1beta3/defaults_test.go
  apis/config/v1beta3/types.go
  apis/config/v1beta3/zz_generated.conversion.go
  apis/config/v1beta3/zz_generated.deepcopy.go
  pkg/coscheduling/core/core.go
  pkg/coscheduling/core/core_test.go
  pkg/coscheduling/coscheduling.go
  pkg/coscheduling/coscheduling_test.go
Labels: ok-to-test, size/L, cncf-cla: yes, approved, kind/cleanup, lgtm, kind/api-change, release-note-action-required

#411 Cherry-pick coscheduling: remove lastDeniedPG cache and lastDeniedPGExpirationTime
  apis/config/scheme/scheme_test.go
  apis/config/types.go
  apis/config/v1beta2/zz_generated.conversion.go
  apis/config/v1beta3/defaults.go
  apis/config/v1beta3/defaults_test.go
  apis/config/v1beta3/types.go
  apis/config/v1beta3/zz_generated.conversion.go
  apis/config/v1beta3/zz_generated.deepcopy.go
  pkg/coscheduling/core/core.go
  pkg/coscheduling/core/core_test.go
  pkg/coscheduling/coscheduling.go
  pkg/coscheduling/coscheduling_test.go
Labels: ok-to-test, size/L, cncf-cla: yes, approved, lgtm, release-note-action-required
