Repository kubernetes-sigs/scheduler-plugins, pull requests merged in 2023-10, with the labels that each got.

#646 nrt: fix handling of ephemeral-storage requests
  pkg/noderesourcetopology/filter.go
  pkg/noderesourcetopology/filter_test.go
Labels: kind/bug, ok-to-test, cncf-cla: yes, approved, lgtm, size/S, release-note-none

#652 refactor coscheduling to use controller-runtime client
  pkg/coscheduling/core/core.go
  pkg/coscheduling/core/core_test.go
  pkg/coscheduling/coscheduling.go
  pkg/coscheduling/coscheduling_test.go
  test/integration/coscheduling_test.go
  test/integration/podgroup_controller_test.go
  test/util/fake.go
  test/util/podgroup_wrapper.go
Labels: cncf-cla: yes, approved, kind/cleanup, release-note, lgtm, size/XXL

#522 refactor: migrate networkoverhead and topologicalsort client to ctrl runtime
  pkg/networkaware/networkoverhead/networkoverhead.go
  pkg/networkaware/networkoverhead/networkoverhead_test.go
  pkg/networkaware/topologicalsort/topologicalsort.go
  pkg/networkaware/topologicalsort/topologicalsort_test.go
  pkg/networkaware/util/util.go
  test/integration/elasticquota_controller_test.go
  test/integration/networkoverhead_test.go
  test/integration/topologicalsort_test.go
  test/integration/utils.go
Labels: size/XL, cncf-cla: yes, approved, release-note, lgtm, needs-ok-to-test
