Repository kubernetes-sigs/scheduler-plugins, pull requests merged in 2024-12, with the labels that each got.

#835 refactor: replace math.Min/math.Max with min/max
  pkg/trimaran/loadvariationriskbalancing/analysis.go
  pkg/trimaran/loadvariationriskbalancing/loadvariationriskbalancing.go
  pkg/trimaran/lowriskovercommitment/beta.go
  pkg/trimaran/lowriskovercommitment/lowriskovercommitment.go
  pkg/trimaran/resourcestats.go
  pkg/trimaran/resourcestats_test.go
Labels: ok-to-test, cncf-cla: yes, approved, size/M, kind/cleanup, lgtm, release-note-none

#836 refactor: replace deprecated sets.String with sets.Set
  pkg/capacityscheduling/capacity_scheduling_test.go
  pkg/capacityscheduling/elasticquota.go
  pkg/capacityscheduling/elasticquota_test.go
  pkg/noderesourcetopology/cache/foreign_pods.go
Labels: ok-to-test, cncf-cla: yes, approved, size/M, kind/cleanup, lgtm, release-note-none

#838 bug(preemption): fix SelectVictimsOnNode method consistent with default scheduler
  pkg/capacityscheduling/capacity_scheduling.go
  pkg/preemptiontoleration/preemption_toleration.go
Labels: kind/bug, cncf-cla: yes, approved, kind/cleanup, lgtm, size/S, release-note-none

#840 fix(util): fix the problem of pod overhead not being calculated
  pkg/util/resource.go
  pkg/util/resource_test.go
Labels: kind/bug, cncf-cla: yes, approved, size/M, kind/cleanup, lgtm, release-note-none

#841 Code changes for PEAKS plugin
  apis/config/register.go
  apis/config/types.go
  apis/config/v1/register.go
  apis/config/v1/types.go
  apis/config/v1/zz_generated.conversion.go
  apis/config/v1/zz_generated.deepcopy.go
  apis/config/zz_generated.deepcopy.go
  cmd/scheduler/main.go
  pkg/trimaran/peaks/deployment/README.md
  pkg/trimaran/peaks/deployment/deployment.yaml
  pkg/trimaran/peaks/deployment/peaks-power-model-config.json
  pkg/trimaran/peaks/deployment/peaks.yaml
  pkg/trimaran/peaks/deployment/scheduler-config.yaml
  pkg/trimaran/peaks/deployment/test-po.yaml
  pkg/trimaran/peaks/peaks.go
  pkg/trimaran/peaks/peaks_test.go
  test/integration/peaks_test.go
  test/util/utils.go
Labels: kind/feature, ok-to-test, cncf-cla: yes, approved, lgtm, size/XXL, release-note-none
